/* Google Fonts */
.work-sans-font{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
/* Default Setting */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#quickListOfOurFeaturesSection, #featuresYouWillLoveAndEnjoySection,
#someFactsSection, #ourSponsorsSection, #footerSection{
    max-width: 1200px;  /*ChatGpt Help Me*/
    margin: 0 auto;
}
#heroSection{
    margin-bottom: 85px;
}
#quickListOfOurFeaturesSection, #featuresYouWillLoveAndEnjoySection, 
#ourSponsorsSection{
    margin-bottom: 130px;
}
#someFactsSection{
    margin-bottom: 180px;
}
/*Shared Styles*/
/* Buttons */
.heroSection-button, .quickListOfOurFeaturesSection-button{
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 600px;
    padding: 21px 24px 20px 25px;
    border: none;
    cursor: pointer;
}
/* Texts */
.navSection-heading, .quickListOfOurFeaturesSection-heading,
.featuresYouWillLoveAndEnjoySection-heading1, .someFactsSection-heading1,
.ourSponsorsSection-heading{
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.heroSection-heading{
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}
.heroSection-paragraph, .quickListOfOurFeaturesSection-paragraph,
.featuresYouWillLoveAndEnjoySection-paragraph, .someFactsSection-paragraph,
.ourSponsorsSection-paragraph{
    color: #727272;
}

.quickListOfOurFeaturesSection-heading-color1{
    color: #727272;
}
.quickListOfOurFeaturesSection-heading-color2{
    color: #FF900E;
}

.featuresYouWillLoveAndEnjoySection-heading2{
    font-weight: 600;
    font-size: 20px;
    color: #131313;
}
.featuresYouWillLoveAndEnjoySection-imageBoxText-heading1{
    font-weight: 700;
    font-size: 45px;
    color: #FFFFFF;
    text-align: center;
}
.featuresYouWillLoveAndEnjoySection-imageBoxText-heading2{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    text-align: center;
}
.someFactsSection-heading2{
    font-size: 45px;
    font-weight: 600;
    color: #424242;
}
.footerSection-heading{
    font-size: 20px;
    color: #424242;
}

/* Nav Section */
header{
    background-color: rgba(255, 144, 14, 0.1);
}

.navContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 102px;
}
.nav-listContainer ul{
    display: flex;
    gap: 70px;
    list-style-type: none;
}
.nav-listContainer ul li a{
    text-decoration: none;
    color:#424242;
    font-size: 18px;
    font-weight: 500;

}


/* Hero Section*/
.heroSection-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* when we use flex-direction: column; Then the align-items property works like 
justify-content property*/
.heroSection-description{
    text-align: center;
}
.heroSection-description p{
    margin: 32px auto;
}
.heroSection-imageContainer img{
    width: 1200px;
    margin: 50px auto 45px auto;
}


/* Quick Of Our Features Section*/
.quickListOfOurFeaturesSection-container{
    display: flex;
    gap: 81px;
}
.quickListOfOurFeaturesSection-imageContainer{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}
.quickListOfOurFeaturesSection-descriptionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
/* when we use flex-direction: column; Then the align-items property works like 
justify-content property and justify-content property works like align-item property*/
}
.quickListOfOurFeaturesSection-description p{
    margin: 24px auto 32px auto;
    line-height: 30px;
}

/* Features you WIll Love & Enjoy Section */
.featuresYouWillLoveAndEnjoySection-description h1{
    border-left: 5px solid #FF900E;
    padding-left: 21px;
}
.featuresYouWillLoveAndEnjoySection-description p{
    margin: 24px auto 30px auto;
}
.featuresYouWillLoveAndEnjoySection-cardContainer{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.featuresYouWillLoveAndEnjoySection-cardItem{
    padding: 30px 42px 30px 30px;
    border-radius: 8px;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);;
}
.featuresYouWillLoveAndEnjoySection-cardItem p{
    margin-top: 10px;
}
.featuresYouWillLoveAndEnjoySection-container{
    display: flex;
    justify-content: center;
    gap: 121px;
}
.featuresYouWillLoveAndEnjoySection-image img{
    width: 590px;
}
.featuresYouWillLoveAndEnjoySection-imageBox{
    padding: 46px 42px 45px 42px;
    background-color: #FF900E;
    border-radius: 8px;
    width: 284px;
    position: relative;
    bottom: 100px;
    right: 70px;
}


/* Some Facts Section */
.someFactsSection-description p{
    margin: 24px auto 100px;
}
.someFactsSection-cardContainer{
    display: flex;
    justify-content: center;
    gap: 100px;
}
.someFactsSection-cardItem{
    border: 1px solid #FF900E;
    border-radius: 8px;
    padding: 45px 36px 60px;
    text-align: center;
}


/* Our Sponsors Section */
.ourSponsorsSection-description{
    text-align: center;
}
.ourSponsorsSection-description p{
    margin: 24px auto 50px;
}
.ourSponsorsSection-imageContainer{
    filter: grayscale(100%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}